.example {
  background-color: #e8e8e8;
}

.notesDisplay {
  display: flex;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 111px;
  overflow: hidden;
  // background: white;
}

.cardDisplay {
  width: 265px;
  flex-flow: row wrap;
  flex-grow: 1;
  margin: 8px;
  position:relative;
  margin-right: auto;
  min-height: 30px;
  flex-wrap: wrap;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
  
  
  
}
.notes {
  margin-left: 0px;
  opacity: 0.5;
  width: 580px;
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 0.5em;
  padding: 0.5%;
  border-radius: 10px;
  outline: none;
}

.fundoo-card {
  width: 481px;
  margin-top: 37px;
  margin-left: 298px;
  height: 0px;
}

.titleinput {
  border: none;
  outline: none;
  font-weight: bold;
  font-size: large;
  margin-bottom: 16px;
}

.noteinput {
  border: none;
  outline: none;
  width: 220px;
  height: auto;
  font-size: initial;
}

.fundoo-card-content {
  font-size: small;
  line-height: 2px;
}

.pin
{
  margin-left: 20px;
  position: absolute;
  
}
.note{
  min-height: 30px;
  /* min-width: 240px; */
 margin-top:15px;
 margin-left: 10px;
 flex-wrap: wrap;
 height: auto;
 width: 250px;
 border: none;
 overflow: hidden;
 outline: none;

 border-radius: 10px 10px 10px 10px; 
 padding-left: 25%;
 padding: 0%;
}
.notes{
  width: 580px;
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 0.5em;
  padding: 0.5%;
  border-radius: 10px;
  outline: none;
  height: auto;
  
}
@media screen and (max-width: 900px) {
  .note{
      width: 250px;
      margin-top: 5px;
      margin-left: 1px;
  }
  .notes{
      width: 500px;
      margin-top: 5px;
      margin-left: 1px;
  }
  .outer-div-style{
      margin-top:15px;
       margin-left: 1%; 
       margin-right: 1%; 
       margin-bottom:20px;
  }
}
@media screen and (max-width: 680px) {
  .note{
      width: 250px;
      margin-top: 5px;
      margin-left: 1px;
  }
  .notes{
      width: 450px;
      margin-top: 5px;
      margin-left: 1px;
  }
  .outer-div-style{
      margin-top:15px;
       margin-left: 1%; 
       margin-right: 1%; 
       margin-bottom:20px;
  }
}
@media screen and (max-width: 600px) {
  .note{
      width: 400px;
      margin-top: 5px;
      margin-left: 1px;
  }
  .notes{
      width: 400px;
      margin-top: 5px;
      margin-left: 1%;
  }
  .outer-div-style{
      margin-top:15px;
      margin-left: 0%;
      margin-right: 0%; 
      margin-bottom:20px;
  }
}
@media screen and (max-width: 505px) {
  .note{
      width: 320px;
      margin-top: 5px;
      margin-left: 1px;
  }
  .notes{
      width: 320px;
      margin-top: 5px;
      margin-left: 1%;
  }
  .outer-div-style{
      margin-top:15px;
      margin-left: 0%;
      margin-right: 0%; 
      margin-bottom:20px;
  }
}
@media screen and (max-width: 450px) {
  .note{
      width: 305px;
      margin-top: 5px;
      margin-left: 0%;
     
  }
  .notes{
      width: 305px;
      margin-top: 5px;
      margin-left: 0%;
      
  }
  .outer-div-style{
      margin-top:15px;
       margin-left: 0%; 
       margin-right: 0%;
        margin-bottom:20px;
  }
}
@media screen and (max-width: 425px) {
  .note{
      width: 305px;
      margin-top: 5px;
      margin-left: 1%;
      
  }
  .notes{
      width: 305px;
      margin-top: 5px;
      margin-left: 1%;
      
  }
  .outer-div-style{
      margin-top:15px; 
      margin-left: 0%; 
      margin-right: 0%; 
      margin-bottom:20px;
  }
}
@media screen and (max-width: 375px) {
  .note{
      width: 225px;
      margin-top: 5px;
      margin-left: 1%
  }
  .notes{
      width: 5px;
      margin-top: 5px;
      margin-left: 1%
  }
  .outer-div-style{
      margin-top:15px; 
      margin-left: 0%; 
      margin-right: 0%; 
      margin-bottom:20px;
  }
}
@media screen and (max-width: 320px) {
  .note{
      width: 190px;
      margin-top: 5px;
      margin-left: 0px;
  }
  .notes{
      width: 220px;
      margin-top: 5px;
      margin-left: 0px;
}
}

